  
  .cartBlock{
    position: relative;
    display: flex;
    width: fit-content;
  }

  .cart{
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
    padding-bottom: 25px;
    border: solid 1px #00000088;
  }

  .crtQuantity{
    position: absolute;
    font-size: 10px;
    background-color: #ff0000;
    color: #ffffff;
    top: 7%;
    right: 42%;
    transition: all 0.2s ease-in-out;
    padding: 2px 5px;
    border-radius: 50%;
    text-align: center;
  }

  .hidden{
    opacity: 0;
  }

  .totPrice{
    position: absolute;
    bottom: 15px;
    right: 325px;
  }